In [5]:
import pyreadstat
import pandas as pd

In [22]:
path = '~/HealthProject/ChinaHealthandNutritionSurvey/'

CApath = '~/HealthProject/Canada/'
RPFC = 'ReportedOccasionOfFoodConsumption/'
DP = 'DietryPractices/'

USpath = '~/HealthProject/US/'
NPAO = 'NutritionPhysicalActivityAndObesityBehavioralRiskFactorSurveillanceSystem/'
CALFRU = 'FruitAndVegetableConsumptionInCalifornia Residents2012_2013/'
macro_df = pd.read_sas(path+'c12diet.sas7bdat')
NHANES = 'NHANES/'

Cal_FV = pd.read_csv(USpath + CALFRU + 'data.csv')

US_Nut = pd.read_csv(USpath + NPAO + 'rows.csv')
US_NS_Diet = pd.read_sas(USpath + NHANES + 'DietData.XPT')

CA_FC = pd.read_csv(CApath + RPFC + 'MetaData.csv')
CA_DP = pd.read_csv(CApath + DP + 'data.csv')

US_NS_Diet

,SEQN,DBQ010,DBD030,DBD041,DBD050,DBD055,DBD061,DBQ073A,DBQ073B,DBQ073C,...,DBD900,DBD905,DBD910,CBQ596,CBQ606,CBQ611,DBQ930,DBQ935,DBQ940,DBQ945
0,109263.0,1.0,5.397605e-79,365.0,730.0,182.0,365.0,10.0,NaN,NaN,...,5.397605e-79,5.397605e-79,5.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,109264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.397605e-79,1.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,109265.0,9.0,NaN,999999.0,730.0,999999.0,NaN,NaN,NaN,NaN,...,2.000000e+00,5.397605e-79,2.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,109266.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.397605e-79,5.397605e-79,5.000000e+00,1.0,2.0,2.0,1.0,1.0,1.0,2.0
4,109267.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.397605e-79,5.397605e-79,5.397605e-79,2.0,NaN,NaN,1.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15555,124818.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.000000e+00,5.000000e+00,5.397605e-79,2.0,NaN,NaN,2.0,1.0,2.0,1.0
15556,124819.0,2.0,NaN,1.0,243.0,365.0,365.0,NaN,11.0,NaN,...,NaN,5.397605e-79,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15557,124820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000e+00,5.397605e-79,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15558,124821.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.397605e-79,5.397605e-79,2.0,NaN,NaN,1.0,2.0,1.0,2.0
15559,124822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.397605e-79,5.397605e-79,5.397605e-79,2.0,NaN,NaN,2.0,1.0,2.0,2.0